.filter-button {
  background-color: transparent;
  color: rgb(33, 113, 116);
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  }

  .filter-button:hover {
    color: rgb(33, 113, 116);
    transform: scale(1.1);
  }

  .filter-menu {
    background-color: #75fad9;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
  }
  
  .filter-menu.active {
    right: 0;
    transition: 350ms;
  }

  .menubar {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #75fad9;
    transition: left 0.5s ease-in-out;
  }

  .filter-toggle {
    background-color: #75fad9;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }