.search-box {
    display: left;
    justify-content: center;
    flex: 1 1 0%;
    align-items: center;
  }
.search-box input {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background: none;
    outline: none;
    border: none;
    display: block;
    width: 300%;
    max-width: 400px;
    padding: 16px;
    border-radius: 999px;
    background-color: #EEE;
    transition: 0.4s;
}
.search-box input ::-moz-placeholder {
    color: #888;
}
.search-box input ::placeholder {
    color: #888;
}

.search-box input:focus{
    background-color: #313131;
    color: #FFF;
}
.search-box input:valid {
    background-color: #313131;
    color: #FFF;
}

.search-results {
    margin-top: 2px;
    margin-left: 5px;
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 20px;
    position: absolute;
  }

  .search-results::-webkit-scrollbar {
    display: none;
  }
  
  .search-results .result-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  
  .search-results p {
    margin-left: 10px;
  }

  .search-results p:hover {
    background-color: rgb(175, 169, 169);
    border-radius: 10px;
  }